{
    "presets": [
    "env"
],
    "plugins": [
    ["transform-es2015-modules-umd",{
        "globals": {
            "prevent-bounce": "PreventBounce"
        },
        "exactGlobals": true
    }]
],
    "env": {
    "production": {
        "presets": [
            "minify"
        ]
    }
}
}